{sub_dirs, ["apps/varr", "rel"]}.
{deps, [
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
    {json, ".*", {git, "git://github.com/hio/erlang-json.git"}},
    {hottub, ".*", {git, "git://github.com/bfrog/hottub.git"}},
    {sockjs, ".*", {git, "git://github.com/blinkov/sockjs-erlang.git"}}
]}.