[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {varr, [
         {http_port, 7777},
         {parser_pool_size, 20},
         {redis_host, "127.0.0.1"},
         {redis_port, 6379},
         {redis_pass, none}, % put your password here 
         {redis_db, 3},
         {tcp_storage_host, "127.0.0.1"},
         {tcp_storage_port, 9123},
         {tcp_storage_pool_size, 10}
       ]}
].

